@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat&display=swap');

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background: #FC5C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  overflow-y: hidden;
}

h1 {
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px #000000;
  font-family: 'Caveat', cursive;
}

.main-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drag-container {
  margin: 20px;
}

.drag-list {
  display: flex;
  align-items: flex-start;
}

/* Item Elements */
.bar-item {
  width: 30%;
  height: 6px;
  margin-bottom: 6px;
}

.aquamarine {
  background-color: #7fffd4;
}

.blueviolet {
  background-color: #8a2be2;
}

.crimson {
  background-color: #dc143c;
}

.aqua {
  background-color: #00ffff;
}

.lime {
  background-color: #00ff00;
}

.antiquewhite {
  background-color: #faebd7;
}

.par-item {
  margin: 0;
}

/* Columns */
.drag-column {
  flex: 1;
  margin: 0 10px;
  position: relative;
  background-color: #e2e4e6;
  border-radius: 3px;
  overflow-x: hidden;
}

.drag-column-title {
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #999;
  margin: 0;
}

.add-solid,
.add-solid:hover,
.add-cancel,
.add-cancel:hover
.over {
  display: none;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  color: #383838;
  width: 90%;
  padding: 8px 15px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.add-solid,
.over {
  background: #7cf5b2;
}

.add-cancel {
  background: #dadcde;
}

/* Custom Scrollbar */
.custom-scroll {
  overflow-y: auto;
  max-height: 52vh;
}

.custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 5px;
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.8);
}

/* Drag and Drop */
.over {
  padding: 50px 10px;
}

.drag-item-list {
  min-height: 50px;
}

.drag-item {
  margin: 10px;
  padding: 10px;
  height: fit-content;
  background-color: rgb(255 255 255);
  border-radius: 3px;
  line-height: 1.5rem;
  letter-spacing: 1px;
  cursor: pointer;
  color: #232323;
}

.drag-item:focus {
  outline: none;
  background-color: lemonchiffon;
  color: black;
}

/* Add Button Group */
.add-btn-group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  margin: 7px 0;
}

.add-btn {
  margin: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.1s ease-in;
  user-select: none;
  color: #000;
}

.add-btn:hover {
  background-color: rgba(209, 209, 209, 0.9);
  color: black;
}

.add-btn:active {
  transform: scale(0.97);
}

.add-solid,
.add-cancel {
  display: none;
}

.add-solid:hover,
.add-cancel:hover {
  transition: unset;
  filter: brightness(95%);
}

.plus-sign {
  font-size: 1.5rem;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.add-container {
  margin: 10px 10px 0 10px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 100px;
  display: none;
}

.add-item {
  width: 100%;
  min-height: 100px;
  height: auto;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 5px auto;
  resize: none;
  color: #000000;
  padding: 5px;
}

.add-item:focus {
  outline: none;
}

/* Modal */
.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  transition: display 0.3s ease;
  display: none;
}

.modal-container.show {
  pointer-events: auto;
  display: flex;
}

.modal {
  background-color: #f4f5f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 600px;
  max-width: 100%;
}

.modal-wrapper {
  padding: 10px 50px 50px 50px;
}

.modal-close {
  margin-left: auto;
  display: flex;
  margin-right: 15px;
  margin-top: 15px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  border-radius: 50%;
  padding: 8px 13px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.modal-close:hover {
  background-color: #e4e5e6;
}

.modal-label-options {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.modal-label-option {
  display: flex;
  align-items: center;
  width: 32%;
}

.modal-label-option input {
  margin: 0 5px 0 1px;
}

.label-option {
  width: 70%;
  height: 20px;
  border-radius: 4px;
}

.modal-text {
  width: 100%;
  padding: 5px 7px;
  margin: 30px 0;
  border: none;
  display: flex;
  resize: none;
}

.modal-container .modal-save,
.modal-container .modal-delete {
  min-width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
  border: none;
  font-size: 15px;
  outline: none;
  color: #383838;
}

.modal-save {
  background: #7cf5b2;
}

.modal-delete {
  background: #dadcde;
}

.modal-container .modal-save:hover,
.modal-container .modal-delete:hover {
  filter: brightness(105%);
}

/* Media Query: Laptop */
@media screen and (max-width: 1800px) {
  .main-title {
    font-size: 2rem;
  }
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 800px) {
  body {
    overflow-y: auto;
  }

  .modal-wrapper {
    padding: 15px;
  }

  .modal-text {
    padding: 7px 9px;
  }

  .modal-label-option {
    width: 31%;
  }

  .label-option {
    width: 100%;
  }

  .modal-container .modal-save,
  .modal-container .modal-delete {
    width: 100%;
    margin: 5px 0;
  }

  .drag-container {
    margin: 0;
  }

  .drag-list {
    display: block;
  }

  .drag-column {
    margin: 10px;
  }
}